<td>1</td>
<td>Calves</td>
<td>5 min</td>
<td>10</td>
<td>100</td>
<td>
    <a href="#" class="btn border-shadow update"></a>
        <span class="text-gradient"><i class="fa-thin fa-pen"></i></span>
</td>

