<form action="/api/exercise_instance" method="POST" id="add_exercise">
    <div class="new_exercise">
        <div class="form-group">
            <label for="ex_type" class="text-light">Exercise Type</label>
            <input type="text" name="ex_type" value="" placeholder="Push-ups">
        </div>
        <div class="form-group">
            <label for="duration" class="text-light">Duration</label>
            <input type="text" name="duration" value="" placeholder="5 mins">
        </div>
        <div class="form-group">
            <label for="s.r.l" class="text-light">Sets/Reps/Laps</label>
            <input type="text" name="srl" value="" placeholder="5 sets">
        </div>
        <div class="form-group">
            <label for="cals" class="text-light">Cals Burnt</label>
            <input type="text" name="cals" value="" placeholder="50">
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>