<!-- partial header -->
<%- include('partials/header') %>
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/tracking" class="border-shadow">
                    <span class="text-gradient">Enter Tracker <i class="fas fa-dumbell"></i></span>
                </a>
            </div>
<%- include('partials/footer') %>