<!-- partial header -->
<%- include('partials/header') %>
    <main id="site-main">
        <div class="center-align-entry">
            <div class="entry-button">
                <a href="/tracking" class="">
                    <span class="text-color-btn1">Enter Tracker</span>
                </a>
            </div>
        </div>
    </main>
<!-- partial footer -->
<%- include('partials/footer') %>