<!-- partial header + navbar -->
<%- include('partials/header') %>

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-exercise" class="border-shadow">
                    <span class="text-gradient">Add Exercise <i class="fas fa-dumbell"></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Exercise Type</th>
                            <th>Duration</th>
                            <th>Sets/Reps/Laps</th>
                            <th>Cals Burned</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('partials/display_table') %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>

<%- include('partials/footer') %>